(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/sim/out.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "soc",
                "axilitecrossbar_inst",
                "r",
                "master",
                "[0]",
            ],
            id: Wellen((82)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (152),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (153),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (154),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (155),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (156),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (157),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (158),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (159),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (180),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (160),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (161),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (162),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (163),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (164),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (165),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (166),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (167),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (168),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (181),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (169),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (170),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (171),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (172),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (173),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (174),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (175),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (176),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (177),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (178),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (179),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (178): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwriteslaves",
                            "[0]",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "bvalid",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "bvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (166): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadslaves",
                            "[0]",
                        ],
                        id: Wellen((22)),
                    ),
                    name: "rresp",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "rresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (157): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "stage",
                    id: Wellen((83)),
                ),
                color: None,
                background_color: None,
                display_name: "stage",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (164): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadslaves",
                            "[0]",
                        ],
                        id: Wellen((22)),
                    ),
                    name: "arready",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (155): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (162): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadmasters",
                            "[0]",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "arvalid",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (170): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "awprot",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "awprot [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (165): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadslaves",
                            "[0]",
                        ],
                        id: Wellen((22)),
                    ),
                    name: "rdata",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "rdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (158): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "pc",
                    id: Wellen((84)),
                ),
                color: None,
                background_color: None,
                display_name: "pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (180): Group((
                name: "AXI Read",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (172): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "bready",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "bready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (173): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "wdata",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "wdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (175): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "wvalid",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "wvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (161): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadmasters",
                            "[0]",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "arprot",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "arprot [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (167): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadslaves",
                            "[0]",
                        ],
                        id: Wellen((22)),
                    ),
                    name: "rvalid",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "rvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (169): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "awaddr",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "awaddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (160): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadmasters",
                            "[0]",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "araddr",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "araddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (168): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (179): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwriteslaves",
                            "[0]",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "wready",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "wready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (152): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (154): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "reset",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (171): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "awvalid",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "awvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (176): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwriteslaves",
                            "[0]",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "awready",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "awready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (181): Group((
                name: "AXI Write",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (156): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "instruction",
                    id: Wellen((86)),
                ),
                color: None,
                background_color: None,
                display_name: "instruction [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (153): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "halt",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "halt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (163): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxireadmasters",
                            "[0]",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "rready",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "rready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (174): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwritemasters",
                            "[0]",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "wstrb",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "wstrb [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (159): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (177): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "maxiwriteslaves",
                            "[0]",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "bresp",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "bresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 181,
        viewports: [
            (
                curr_left: (-0.039486811368580566),
                curr_right: (1.0562991867275158),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((0, [])),
        markers: {},
        focused_item: Some((3)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (3),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)