(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/sim/out.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "soc",
                "cpu_inst",
                "r",
            ],
            id: Wellen((21)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (124),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (125),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (126),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (122),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (127),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (128),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (129),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (123),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (130),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (121),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (98),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (99),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (100),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (101),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (102),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (103),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (104),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (105),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (106),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (107),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (120),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (108),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (109),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (110),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (111),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (112),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (113),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (114),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (115),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (116),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (117),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (118),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (119),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (115): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (123): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (108): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "awaddr",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "awaddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (120): Group((
                name: "Write",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (118): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwriteslave",
                        ],
                        id: Wellen((15)),
                    ),
                    name: "bvalid",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "bvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (125): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "reset",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (121): Group((
                name: "Read",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (130): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (116): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwriteslave",
                        ],
                        id: Wellen((15)),
                    ),
                    name: "awready",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "awready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (119): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwriteslave",
                        ],
                        id: Wellen((15)),
                    ),
                    name: "wready",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "wready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (126): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "halt",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "halt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (103): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadslave",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "arready",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (109): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "awprot",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "awprot [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (105): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadslave",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "rresp",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "rresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (107): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (106): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadslave",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "rvalid",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "rvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (99): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadmaster",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "arprot",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "arprot [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (110): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "awvalid",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "awvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (117): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwriteslave",
                        ],
                        id: Wellen((15)),
                    ),
                    name: "bresp",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "bresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (100): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadmaster",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "arvalid",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (98): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadmaster",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "araddr",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "araddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (102): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (122): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (112): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "wdata",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "wdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (101): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadmaster",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "rready",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "rready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (127): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "instruction",
                    id: Wellen((48)),
                ),
                color: None,
                background_color: None,
                display_name: "instruction [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (128): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "stage",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "stage",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (111): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "bready",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "bready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (113): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "wstrb",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "wstrb [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (104): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axireadslave",
                        ],
                        id: Wellen((14)),
                    ),
                    name: "rdata",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "rdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (114): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "axiwritemaster",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "wvalid",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "wvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (129): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                            "cpu_inst",
                            "r",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "pc",
                    id: Wellen((46)),
                ),
                color: None,
                background_color: None,
                display_name: "pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (124): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "soc",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 130,
        viewports: [
            (
                curr_left: (-0.02546571561620245),
                curr_right: (1.120757295865537),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((0, [])),
        markers: {},
        focused_item: Some((3)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (3),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)