(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/sim/out.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "cpu",
                "r",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "halt",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "halt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "rs1",
                    id: Wellen((58)),
                ),
                color: None,
                background_color: None,
                display_name: "rs1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "wr_addr",
                    id: Wellen((62)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_addr",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "ramdin",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "ramdin [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "aluresult",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "aluresult [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "oppcfromalu",
                    id: Wellen((24)),
                ),
                color: None,
                background_color: None,
                display_name: "oppcfromalu",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "stage",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "stage",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "immediate",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "immediate [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "rs1value",
                    id: Wellen((60)),
                ),
                color: None,
                background_color: None,
                display_name: "rs1value [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "rs2",
                    id: Wellen((59)),
                ),
                color: None,
                background_color: None,
                display_name: "rs2",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "opregwritesource",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "opregwritesource",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "instruction",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "instruction [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "ramdout",
                    id: Wellen((48)),
                ),
                color: None,
                background_color: None,
                display_name: "ramdout [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "ramwrbyteenable",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "ramwrbyteenable [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "wr_data",
                    id: Wellen((63)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "wr_strobe",
                    id: Wellen((64)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_strobe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "opmemwrite",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "opmemwrite",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "ramaddr",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "ramaddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "ramwe",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "ramwe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "opmemwritewidthbytes",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "opmemwritewidthbytes",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "reset",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "registers_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "rs2value",
                    id: Wellen((61)),
                ),
                color: None,
                background_color: None,
                display_name: "rs2value [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cpu",
                            "r",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "insttype",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "insttype",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 30,
        viewports: [
            (
                curr_left: (-0.004109137018419511),
                curr_right: (0.23760489804137974),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: Some((5)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)